
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Gamerverse</title>
    <meta charset="utf-8" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'logos/icon.png' %>
  </head>
  <body>
    <header id="header">
      <h1>
        <span id="header-site-title">Gamerverse</span>
        <a href="/">
          <%= image_tag("logos/logo.png", alt: "Gamerverse", id: "logo")%>
        </a>
      </h1>
      <nav id="navbar">
        <ul id="nav-list">
          <li class="nav-list-item"><%= link_to "Home", '/' %></li>
          <li class="nav-list-item"><%= link_to "Games", games_path %></li>
          <li class="nav-list-item"><%= link_to "Events", events_path %></li>
          
          <% if !logged_in? %>
          <li class="nav-list-item"><%= link_to "Register", register_path %></li>
          <li class="nav-list-item"><%= link_to "Login", login_path %></li>
          <% else %>
          <li class="nav-list-item"><%= link_to "Profile", profile_path %></li>
          <li class="nav-list-item"><%= link_to "Logout", logout_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
